body, html {
  font-size: 13px;
  font-family: "Helvetica Neue","Helvetica","PingFang SC","Arial","Microsoft YaHei","微软雅黑";
}
.pre {
  border-radius: 4px;
  margin-bottom: 10px;
}
a {
  color: #0078e7;
  text-decoration: none;
}
code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}
.post {
  h2:before,
  h3:before {
    display: block;
    height: 1rem;
    margin-top: -1rem;
    visibility: hidden;
    content: "";
  }
  h1 {
    span {
      font-size: 14px;
      padding-left: 10px;
      color: #bbb;
    }
  }
}
h1 {
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
}
h2 {
  font-size: 24px;
  line-height: 32px;
}
h3 {
  font-size: 20px;
  line-height: 28px;
}
.prev-next-nav {
  overflow: hidden;
  font-size: 14px;
  border-top: 1px solid #ebedf0;
  .prev-page,
  .next-page {
    display: block;
    width: 50%;
    height: 72px;
    line-height: 72px;
  }
  .prev-page {
    float: left;
  }
  .next-page {
    float: right;
    text-align: right;
  }
}
.all-header {
  margin-bottom: 30px;
  h3 {
    span {
      font-size: 13px;
      padding-left: 10px;
      color: #bbb;
    }
  }
  p {
    color: #314659;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ebedf0;
  padding: 20px 0;
  .pages a {
    border: 1px solid #ebedf0;
    border-radius: 3px;
    padding: 5px 12px;
    margin: 0 5px;
    &[aria-current="page"] {
      color: rgb(255, 255, 255);
      background: rgb(0, 122, 204);
    }
  }
}