.main-toc {
  position: fixed;
  right: 0.5rem;
  top: 4rem;
  margin-top: 25px;
  padding-left: 15px;
  & > div {
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &--li {
    &2 {
      font-size: 14px;
    }
    &3 {
      font-size: 12px;
      padding-left: 10px;
    }
    &4 {
      font-size: 12px;
      padding-left: 20px;
    }
  }
  a {
    color: #777;
    text-decoration: none;
    &.current,
    &:hover {
      color: #337ab7;
    }
  }
}
@media(min-width: 900px) {
  .main-toc {
    width: 12rem;
  }
}
@media(max-width: 900px) {
  .main-toc {
    position: static;
  }
}