@import './theme.scss';

.theme-light {
  background-color: #f4f5f5
}

.theme-dark {
  background-color: #181818;
}

svg {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  pointer-events: none;
}

.layout {
  margin: 0 auto;
  max-width: 56rem;
  padding: 3rem 1.5rem;
  @include themify($themes) {
    color: themed('text-color');
  }
  header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .toggle {
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    &:hover {
      color: #0078e7;
    }
  }
  &.post {
    ul {
      li {
        line-height: 1.75;
      }
    }
    img {
      border: 2px dotted #ccc;
      border-radius: 5px;
    }
  }
  @media(min-width: 768px) {
    table {
      th, td {
        padding: 12px 24px;
      }
    }
  }

  @media(max-width: 768px) {
    body {
      font-size: 12px;
    }
    table {
      th, td {
        padding: 8px 4px;
        word-break: break-all;
      }
    }
  }
  table {
    width: 100%;
    margin: 8px 0 16px;
    th {
      color: #5c6b77;
      font-weight: 500;
      white-space: nowrap;
      background: rgba(0,0,0,0.02);
      border: 1px solid #ebedf0;
    }
    td {
      text-align: left;
      border: 1px solid #ebedf0;
    }
  }
}