$code-bg: #234361;
$code-color: #fff;
$code-error-bg: #f24542;

.playground {
  font-size: 13px;
  .container {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 8px;
  }
  .item {
    border: 1px dotted #ccc;
    margin: 8px;
  }
  .margin4 {
    margin-right: 4px;
  }
  &.show {
    background-color: $code-bg;
  }
  border-radius: 4px;
  padding: 5px;
  color: $code-color;
  &-error {
    background-color: $code-error-bg;
    border-radius: 4px;
    pre {
      padding: 15px;
      background-color: transparent;
      border: 0;
      color: inherit;
    }
  }
  &-view {
    background-color: #fff;
    border-radius: 3px;
    color: #66788a;
    margin: 4px;
    padding: 16px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    & > div {
      width: 90%;
    }
    & > button {
      opacity: 0;
      align-self: flex-end;
      transition: opacity .3s ease;
    }
    &:hover button {
      opacity: 1;
    }
  }
}